[Desktop Entry]
Name=SaveSync
Comment=Save data sync utility - v2.6
Exec=main.sh
Icon=icon
Terminal=true
Type=Application
StartupNotify=true
Categories=applications;
